<ion-view title="Activity">
  <ion-content class="padding">
      <div class="list card">

          <div class="item item-avatar">
              <img src="icon ion-bag">
              <i class="ion-android-hand"></i>
              <h2>Angry Birds</h2>
              <p>John installed </p>
          </div>

          <div class="item item-body">
              <p>
                  bla bla bla.
              </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" href="#">
                  <i class="icon ion-thumbsup"></i>
                  block
              </a>
              <a class="tab-item" href="#">
                  <i class="icon ion-chatbox"></i>
                  unblock
              </a>
              <a class="tab-item" href="#">
                  <i class="icon ion-share"></i>
                  notify
              </a>
          </div>

      </div>
      <div class="card">
          <div class="item item-text-wrap">
              John has installed app1
          </div>
      </div>
      <div class="card">
          <div class="item item-text-wrap">
              John has installed app2
          </div>
      </div>
      <div class="card">
          <div class="item item-text-wrap">
              John has installed app3
          </div>
      </div>
  </ion-content>
</ion-view>
